<%-include("../includes/head") %>
<link rel="stylesheet" href="/styles/error.css">
</head>
<%-include("../includes/header") %>

<main>
    <h1>
        ERROR! 
    </h1>
    <p>The resource that you were looking for was not found</p>
</main>
