<%-include("../includes/head") %>
<%-include("../includes/header") %>
<link rel="stylesheet" href="/styles/error.css">
<main>
    <h1>ERROR!</h1>
    <h3>It's not you! <br> it's us</h3>
    <p>We encountered an unexpected error! <br> We apologize for this</p>
</main>

<%-include("../includes/footer")%>