<footer style="width: 100%;">
    <h5>Contact Us</h5>
    <ul>
        <li><a href="https://www.linkedin.com/in/mohd-monis-2aa52a21a/" style=" width: 4rem;height: 4rem;">
            <img src="/images/linkedin.png" alt="linkedin" class="logo-img">
        </a></li>
        <li><a href="https://github.com/Mohd-Monis/Online-Shop-Project/tree/main">
            <img src="/images/download.png" alt="github" class="logo-img">
        </a>
        </li>
    </ul>
</footer>